.container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 1px 3px #888888;

}
.column{
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem 0 10rem;
}
.title{
    min-width: 5rem;
}
.row>div{
    min-width: 10rem;
    max-width: 10rem;
}