<div class="container">
  <div>
    <app-header title="vehicle Data" />
  </div>
  <div>
    <table mat-table [dataSource]="vehicleDetails" class="mat-elevation-z8">
      <ng-container matColumnDef="slno">
        <th mat-header-cell *matHeaderCellDef>Slno</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
        <td mat-cell *matCellDef="let element">{{ element.manufacturer }}</td>
      </ng-container>

      <ng-container matColumnDef="passengers">
        <th mat-header-cell *matHeaderCellDef>Passengers</th>
        <td mat-cell *matCellDef="let element">{{ element.passengers }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-button (click)="getVehicleDetails(element)">
            More Details
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
