.container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

}
.row>button{
    margin-left: 1rem;
}